# Ignore folders used as docker bind by Cassandra container
/*/cassandra/data/*
/*/cassandra/logs/*

# Ignore folders used as docker bind by Cortex container
/*/cortex/logs/*
/*/cortex/neurons/*

# Ignore folders used as docker bind by ElasticSearch container
/*/elasticsearch/data/*
/*/elasticsearch/logs/*

# Ignore folders used as docker bind by TheHive container
/*/thehive/data/*
/*/thehive/logs/*

# Ignore custom configuration files for TheHive
/*/thehive/config/secret.conf

# Ignore custom configuration files for Cortex
/*/cortex/config/secret.conf

# Keep track of .gitkeep files to guarantee folder permissions are correct
!/**/.gitkeep

# Ignore .env file (users should copy dot.env.template to .env and complete it before running docker compose commands)
/*/.env
# Ignore .DS_Store files
/**/.DS_Store
# Ignore server keys/certs
/**/server.key
/**/server.crt
/**/ca.pem